.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 35px 150px;
}
.nav-titile{
    font-size: 35px;
    font-weight: 800;
    color: #4E47FF;
}
nav ul li{
    list-style: none;
}

.btn-sing{
    background-color:#4E47FF;
    font-size: 16px;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
}
/* banner styles */

.banner{
   text-align: center;
}
.banner-content{
    margin:200px 265px 150px 265px;
}
.banner-text{
    font-size: 65px;
    font-weight: 700;
}

/* middle see ti acction */
.see-section{
    display: flex;
    justify-content: space-between;
    margin: 120px 140px;
    align-items: center;
}
.image-section{
    border-radius: 48px;
    height: 330px;
    weight:400px
}
.section-title{
    font-size: 40px;
    margin-bottom: 10px;
}
.section-text{
    font-size: 16px;
    line-height: 1.8;
}

/* user style */
.mid-section-title{
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 40px;
}
.section-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin: 0 auto;
}
.item-description{
    font-size: 20px;
    color: #160101;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}
.secondary-bg{
    background-color: #E5E7FF;
}
.joined{
    margin: 0px 140px;
    border-radius: 25px;
}

/* touch section */
.touch-title{
    font-size: 95px;
}
.touch{
    margin:90px 130px;
    display: flex;
    gap: 70px;
}
.touch-column{
    width: 50%;
}
.touch input[type="email"], .touch input[type="text"], .touch textarea{
    height: 64px;
    border-radius: 5px;
    background-color: #E5E7FF;
    display: block;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;

}